


#SITEGUARD_PLUGIN_SETTINGS_START
#SITEGUARD_PLUGIN_SETTINGS_END

# BEGIN WordPress
# "BEGIN WordPress" から "END WordPress" までのディレクティブ (行) は
# 動的に生成され、WordPress フィルターによってのみ修正が可能です。
# これらのマーカー間にあるディレクティブへのいかなる変更も上書きされてしまいます。
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
SiteGuard_User_ExcludeSig ip(60.125.54.254)
SiteGuard_User_ExcludeSig ip(133.32.130.99)
SiteGuard_User_ExcludeSig ip(106.154.144.199)
SiteGuard_User_ExcludeSig ip(106.154.144.203)
SiteGuard_User_ExcludeSig ip(133.165.161.137)
SiteGuard_User_ExcludeSig ip(202.12.247.218)
SiteGuard_User_ExcludeSig ip(133.200.161.0)
</IfModule>

# END WordPress

